.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

# core dumps
examples/vgcore.*
src/rust/vendor
src/Makevars
src/Makevars.win
.vscode/
inst/doc
/doc/
/Meta/

docs
tools/coding-helpers.R

# nix -----------------------------------------------

# Ignore build outputs from performing a nix-build or `nix build` command
result
result-*

# Ignore direnv folder
.direnv/
